In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
np.random.seed(1)
mu, sigma = 50, 10
s = np.random.normal(mu, sigma, 100)

In [3]:
s[85] = 120
s[15] = -120

In [4]:
s

array([  66.24345364,   43.88243586,   44.71828248,   39.27031378,
         58.65407629,   26.98461303,   67.44811764,   42.38793099,
         53.19039096,   47.50629625,   64.62107937,   29.39859291,
         46.77582796,   46.15945645,   61.33769442, -120.        ,
         48.27571792,   41.22141582,   50.42213747,   55.82815214,
         38.99380823,   61.4472371 ,   59.01590721,   55.02494339,
         59.00855949,   43.16272141,   48.77109774,   40.64230566,
         47.3211192 ,   55.30355467,   43.08339248,   46.03246473,
         43.128273  ,   41.54794359,   43.28753869,   49.87335401,
         38.82689651,   52.34415698,   66.59802177,   57.42044161,
         48.08164448,   41.12371036,   42.52841706,   66.92454601,
         50.50807755,   43.63004353,   51.90915485,   71.00255136,
         51.20158952,   56.1720311 ,   53.0017032 ,   46.47750154,
         38.57481802,   46.50657278,   47.91105767,   55.86623191,
         58.38983414,   59.31102081,   52.85587325,   58.85141164,
         42.45602059,   62.52868155,   55.1292982 ,   47.01907165,
         54.88518147,   49.24428287,   61.31629387,   65.19816816,
         71.85575407,   36.03503665,   35.55886195,   44.95534137,
         51.60037069,   58.76168921,   53.15634947,   29.77798784,
         46.93795987,   58.27974643,   52.30094735,   57.6201118 ,
         47.77671857,   47.99241931,   51.86561391,   54.10051647,
         51.9829972 ,  120.        ,   43.29337714,   53.77563786,
         51.21821271,   61.29483908,   61.9891788 ,   51.85156417,
         46.2471505 ,   43.61269593,   54.23494354,   50.77340068,
         46.56146324,   50.43596857,   43.79999156,   56.98032034])

In [5]:
df = pd.DataFrame(s,columns=['Data'])
df.head()

        Data
0  66.243454
1  43.882436
2  44.718282
3  39.270314
4  58.654076

In [6]:
df['col_zscore'] = (df['Data'] - df['Data'].mean())/df['Data'].std(ddof=0)

In [7]:
df['outlier'] = (abs(df['col_zscore'])> 3).astype(int)

In [8]:
df.tail()

         Data  col_zscore  outlier
95  50.773401    0.052473        0
96  46.561463   -0.154182        0
97  50.435969    0.035917        0
98  43.799992   -0.289671        0
99  56.980320    0.357010        0

In [9]:
print ("Print number of outliers = " +str(df.outlier.value_counts()[1]))

Print number of outliers = 2

In [10]:
df.outlier.unique()

array([0, 1], dtype=int64)

In [11]:
df[df['outlier'] == 1]

     Data  col_zscore  outlier
15 -120.0   -8.326370        1
85  120.0    3.449014        1