## Duraci√≥n 00:20:01

<a href="https://www.kaggle.com/jordangoblet/atp-tour-20002016" target="_blank" style="font-weight: bold; text-decoration: none; color: #01579b;">Click para descargar la base de datos -> ATP Men's Tour -> Results of the ATP tour competitions since 2000</a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import chardet

In [4]:
with open('data/atp-tour/data.csv', 'rb') as f:
    result = chardet.detect(f.read())

In [5]:
result['encoding']

'Windows-1252'

In [6]:
datos = pd.read_csv('data/atp-tour/data.csv', encoding=result['encoding'], low_memory=False)

In [7]:
print(datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
ATP           46652 non-null int64
Location      46652 non-null object
Tournament    46652 non-null object
Date          46652 non-null object
Series        46652 non-null object
Court         46652 non-null object
Surface       46652 non-null object
Round         46652 non-null object
Best of       46652 non-null int64
Winner        46652 non-null object
Loser         46652 non-null object
WRank         46637 non-null object
LRank         46581 non-null object
W1            46423 non-null float64
L1            46423 non-null float64
W2            45962 non-null float64
L2            45963 non-null float64
W3            21365 non-null float64
L3            21365 non-null float64
W4            4226 non-null float64
L4            4226 non-null float64
W5            1617 non-null float64
L5            1617 non-null float64
Wsets         46462 non-null float64
Lsets         46462 non-null float64
Comment       46652 non-null object
CBW           17507 non-null float64
CBL           17507 non-null float64
GBW           5055 non-null float64
GBL           5055 non-null float64
IWW           13358 non-null float64
IWL           13358 non-null float64
SBW           5424 non-null float64
SBL           5424 non-null float64
B365W         38019 non-null float64
B365L         38042 non-null float64
B&WW          1097 non-null float64
B&WL          1097 non-null float64
EXW           33799 non-null float64
EXL           33804 non-null float64
PSW           31729 non-null float64
PSL           31729 non-null float64
WPts          30448 non-null float64
LPts          30396 non-null float64
UBW           10672 non-null float64
UBL           10672 non-null float64
LBW           23230 non-null float64
LBL           23239 non-null float64
SJW           15572 non-null float64
SJL           15579 non-null float64
MaxW          17104 non-null float64
MaxL          17104 non-null float64
AvgW          17104 non-null float64
AvgL          17104 non-null float64
dtypes: float64(40), int64(2), object(12)
memory usage: 17.1+ MB
None

In [8]:
print(datos.head())

   ATP  Location                          Tournament       Date  \
0    1  Adelaide  Australian Hardcourt Championships  3/01/2000
1    1  Adelaide  Australian Hardcourt Championships  3/01/2000
2    1  Adelaide  Australian Hardcourt Championships  3/01/2000
3    1  Adelaide  Australian Hardcourt Championships  3/01/2000
4    1  Adelaide  Australian Hardcourt Championships  3/01/2000

          Series    Court Surface      Round  Best of       Winner  ...  UBW  \
0  International  Outdoor    Hard  1st Round        3   Dosedel S.  ...  NaN
1  International  Outdoor    Hard  1st Round        3   Enqvist T.  ...  NaN
2  International  Outdoor    Hard  1st Round        3    Escude N.  ...  NaN
3  International  Outdoor    Hard  1st Round        3   Federer R.  ...  NaN
4  International  Outdoor    Hard  1st Round        3  Fromberg R.  ...  NaN

  UBL LBW  LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
0 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
1 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
2 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
4 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[5 rows x 54 columns]

In [9]:
nuevo = pd.DataFrame(datos)
print(nuevo)

       ATP        Location                          Tournament        Date  \
0        1        Adelaide  Australian Hardcourt Championships   3/01/2000
1        1        Adelaide  Australian Hardcourt Championships   3/01/2000
2        1        Adelaide  Australian Hardcourt Championships   3/01/2000
3        1        Adelaide  Australian Hardcourt Championships   3/01/2000
4        1        Adelaide  Australian Hardcourt Championships   3/01/2000
5        1        Adelaide  Australian Hardcourt Championships   3/01/2000
6        1        Adelaide  Australian Hardcourt Championships   3/01/2000
7        1        Adelaide  Australian Hardcourt Championships   3/01/2000
8        1        Adelaide  Australian Hardcourt Championships   3/01/2000
9        1        Adelaide  Australian Hardcourt Championships   3/01/2000
10       1        Adelaide  Australian Hardcourt Championships   3/01/2000
11       1        Adelaide  Australian Hardcourt Championships   3/01/2000
12       1        Adelaide  Australian Hardcourt Championships   3/01/2000
13       1        Adelaide  Australian Hardcourt Championships   3/01/2000
14       1        Adelaide  Australian Hardcourt Championships   3/01/2000
15       1        Adelaide  Australian Hardcourt Championships   3/01/2000
16       1        Adelaide  Australian Hardcourt Championships   3/01/2000
17       1        Adelaide  Australian Hardcourt Championships   3/01/2000
18       1        Adelaide  Australian Hardcourt Championships   3/01/2000
19       1        Adelaide  Australian Hardcourt Championships   3/01/2000
20       1        Adelaide  Australian Hardcourt Championships   3/01/2000
21       1        Adelaide  Australian Hardcourt Championships   3/01/2000
22       1        Adelaide  Australian Hardcourt Championships   3/01/2000
23       1        Adelaide  Australian Hardcourt Championships   3/01/2000
24       1        Adelaide  Australian Hardcourt Championships   3/01/2000
25       1        Adelaide  Australian Hardcourt Championships   3/01/2000
26       1        Adelaide  Australian Hardcourt Championships   3/01/2000
27       1        Adelaide  Australian Hardcourt Championships   3/01/2000
28       1        Adelaide  Australian Hardcourt Championships   3/01/2000
29       1        Adelaide  Australian Hardcourt Championships   3/01/2000
...    ...             ...                                 ...         ...
46622   53            Metz                     Open de Moselle  24/09/2016
46623   53            Metz                     Open de Moselle  24/09/2016
46624   53            Metz                     Open de Moselle  25/09/2016
46625   54  St. Petersburg                 St. Petersburg Open  19/09/2016
46626   54  St. Petersburg                 St. Petersburg Open  19/09/2016
46627   54  St. Petersburg                 St. Petersburg Open  19/09/2016
46628   54  St. Petersburg                 St. Petersburg Open  20/09/2016
46629   54  St. Petersburg                 St. Petersburg Open  20/09/2016
46630   54  St. Petersburg                 St. Petersburg Open  20/09/2016
46631   54  St. Petersburg                 St. Petersburg Open  20/09/2016
46632   54  St. Petersburg                 St. Petersburg Open  21/09/2016
46633   54  St. Petersburg                 St. Petersburg Open  21/09/2016
46634   54  St. Petersburg                 St. Petersburg Open  21/09/2016
46635   54  St. Petersburg                 St. Petersburg Open  21/09/2016
46636   54  St. Petersburg                 St. Petersburg Open  21/09/2016
46637   54  St. Petersburg                 St. Petersburg Open  21/09/2016
46638   54  St. Petersburg                 St. Petersburg Open  21/09/2016
46639   54  St. Petersburg                 St. Petersburg Open  22/09/2016
46640   54  St. Petersburg                 St. Petersburg Open  22/09/2016
46641   54  St. Petersburg                 St. Petersburg Open  22/09/2016
46642   54  St. Petersburg                 St. Petersburg Open  22/09/2016
46643   54  St. Petersburg                 St. Petersburg Open  22/09/2016
46644   54  St. Petersburg                 St. Petersburg Open  22/09/2016
46645   54  St. Petersburg                 St. Petersburg Open  23/09/2016
46646   54  St. Petersburg                 St. Petersburg Open  23/09/2016
46647   54  St. Petersburg                 St. Petersburg Open  23/09/2016
46648   54  St. Petersburg                 St. Petersburg Open  23/09/2016
46649   54  St. Petersburg                 St. Petersburg Open  24/09/2016
46650   54  St. Petersburg                 St. Petersburg Open  24/09/2016
46651   54  St. Petersburg                 St. Petersburg Open  25/09/2016

              Series    Court Surface          Round  Best of  \
0      International  Outdoor    Hard      1st Round        3
1      International  Outdoor    Hard      1st Round        3
2      International  Outdoor    Hard      1st Round        3
3      International  Outdoor    Hard      1st Round        3
4      International  Outdoor    Hard      1st Round        3
5      International  Outdoor    Hard      1st Round        3
6      International  Outdoor    Hard      1st Round        3
7      International  Outdoor    Hard      1st Round        3
8      International  Outdoor    Hard      1st Round        3
9      International  Outdoor    Hard      1st Round        3
10     International  Outdoor    Hard      1st Round        3
11     International  Outdoor    Hard      1st Round        3
12     International  Outdoor    Hard      1st Round        3
13     International  Outdoor    Hard      1st Round        3
14     International  Outdoor    Hard      1st Round        3
15     International  Outdoor    Hard      1st Round        3
16     International  Outdoor    Hard      2nd Round        3
17     International  Outdoor    Hard      2nd Round        3
18     International  Outdoor    Hard      2nd Round        3
19     International  Outdoor    Hard      2nd Round        3
20     International  Outdoor    Hard      2nd Round        3
21     International  Outdoor    Hard      2nd Round        3
22     International  Outdoor    Hard      2nd Round        3
23     International  Outdoor    Hard      2nd Round        3
24     International  Outdoor    Hard  Quarterfinals        3
25     International  Outdoor    Hard  Quarterfinals        3
26     International  Outdoor    Hard  Quarterfinals        3
27     International  Outdoor    Hard  Quarterfinals        3
28     International  Outdoor    Hard     Semifinals        3
29     International  Outdoor    Hard     Semifinals        3
...              ...      ...     ...            ...      ...
46622         ATP250   Indoor    Hard     Semifinals        3
46623         ATP250   Indoor    Hard     Semifinals        3
46624         ATP250   Indoor    Hard      The Final        3
46625         ATP250   Indoor    Hard      1st Round        3
46626         ATP250   Indoor    Hard      1st Round        3
46627         ATP250   Indoor    Hard      1st Round        3
46628         ATP250   Indoor    Hard      1st Round        3
46629         ATP250   Indoor    Hard      1st Round        3
46630         ATP250   Indoor    Hard      1st Round        3
46631         ATP250   Indoor    Hard      1st Round        3
46632         ATP250   Indoor    Hard      1st Round        3
46633         ATP250   Indoor    Hard      1st Round        3
46634         ATP250   Indoor    Hard      1st Round        3
46635         ATP250   Indoor    Hard      1st Round        3
46636         ATP250   Indoor    Hard      1st Round        3
46637         ATP250   Indoor    Hard      2nd Round        3
46638         ATP250   Indoor    Hard      2nd Round        3
46639         ATP250   Indoor    Hard      2nd Round        3
46640         ATP250   Indoor    Hard      2nd Round        3
46641         ATP250   Indoor    Hard      2nd Round        3
46642         ATP250   Indoor    Hard      2nd Round        3
46643         ATP250   Indoor    Hard      2nd Round        3
46644         ATP250   Indoor    Hard      2nd Round        3
46645         ATP250   Indoor    Hard  Quarterfinals        3
46646         ATP250   Indoor    Hard  Quarterfinals        3
46647         ATP250   Indoor    Hard  Quarterfinals        3
46648         ATP250   Indoor    Hard  Quarterfinals        3
46649         ATP250   Indoor    Hard     Semifinals        3
46650         ATP250   Indoor    Hard     Semifinals        3
46651         ATP250   Indoor    Hard      The Final        3

                 Winner  ...  UBW UBL   LBW   LBL  SJW  SJL  MaxW  MaxL  AvgW  \
0            Dosedel S.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
1            Enqvist T.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
2             Escude N.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
3            Federer R.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
4           Fromberg R.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
5          Gambill J.M.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
6           Grosjean S.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
7             Henman T.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
8             Hewitt L.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
9            Lisnard J.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
10            Martin A.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
11            Norman M.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
12          Petrovic D.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
13           Sekulov J.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
14       Stoltenberg J.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
15             Vinck C.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
16           Enqvist T.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
17            Escude N.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
18          Grosjean S.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
19            Henman T.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
20            Hewitt L.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
21            Martin A.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
22            Norman M.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
23       Stoltenberg J.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
24           Enqvist T.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
25            Escude N.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
26            Hewitt L.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
27            Norman M.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
28           Enqvist T.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
29            Hewitt L.  ...  NaN NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN
...                 ...  ...   ..  ..   ...   ...  ...  ...   ...   ...   ...
46622          Thiem D.  ...  NaN NaN  1.53  2.50  NaN  NaN  1.57  2.65  1.51
46623        Pouille L.  ...  NaN NaN  2.75  1.44  NaN  NaN  2.86  1.52  2.67
46624        Pouille L.  ...  NaN NaN  2.50  1.53  NaN  NaN  2.55  1.65  2.39
46625       Berankis R.  ...  NaN NaN  2.38  1.57  NaN  NaN  2.38  1.71  2.23
46626          Rosol L.  ...  NaN NaN  1.50  2.62  NaN  NaN  1.53  2.75  1.48
46627         Zverev A.  ...  NaN NaN  1.53  2.50  NaN  NaN  1.62  2.60  1.55
46628      Sidorenko A.  ...  NaN NaN  3.40  1.33  NaN  NaN  3.45  1.38  3.23
46629        Lorenzi P.  ...  NaN NaN  2.62  1.50  NaN  NaN  2.75  1.54  2.62
46630       Medvedev D.  ...  NaN NaN  1.20  4.50  NaN  NaN  1.23  4.75  1.20
46631        Lajovic D.  ...  NaN NaN  2.75  1.44  NaN  NaN  3.15  1.44  2.88
46632         Rublev A.  ...  NaN NaN  2.25  1.62  NaN  NaN  2.53  1.63  2.36
46633          Sousa J.  ...  NaN NaN  1.53  2.50  NaN  NaN  1.56  2.75  1.48
46634        Youzhny M.  ...  NaN NaN  1.80  2.00  NaN  NaN  2.01  2.00  1.85
46635        Troicki V.  ...  NaN NaN  1.25  4.00  NaN  NaN  1.29  4.30  1.24
46636     Kuznetsov An.  ...  NaN NaN  1.44  2.75  NaN  NaN  1.45  3.05  1.41
46637       Wawrinka S.  ...  NaN NaN  1.20  4.50  NaN  NaN  1.30  4.50  1.25
46638  Bautista Agut R.  ...  NaN NaN  1.17  5.00  NaN  NaN  1.20  5.28  1.18
46639          Sousa J.  ...  NaN NaN  1.44  2.75  NaN  NaN  1.55  2.80  1.47
46640        Lorenzi P.  ...  NaN NaN  1.44  2.75  NaN  NaN  1.47  3.05  1.40
46641        Troicki V.  ...  NaN NaN  1.40  3.00  NaN  NaN  1.43  3.25  1.37
46642        Berdych T.  ...  NaN NaN  1.40  3.00  NaN  NaN  1.43  3.15  1.38
46643         Zverev A.  ...  NaN NaN  1.36  3.25  NaN  NaN  1.39  3.75  1.32
46644        Youzhny M.  ...  NaN NaN  5.00  1.17  NaN  NaN  5.96  1.18  5.23
46645        Berdych T.  ...  NaN NaN  1.17  5.00  NaN  NaN  1.20  5.80  1.16
46646  Bautista Agut R.  ...  NaN NaN  1.36  3.25  NaN  NaN  1.40  3.45  1.36
46647         Zverev A.  ...  NaN NaN  1.57  2.38  NaN  NaN  1.66  2.45  1.60
46648       Wawrinka S.  ...  NaN NaN  1.22  4.33  NaN  NaN  1.24  4.91  1.21
46649         Zverev A.  ...  NaN NaN  2.38  1.57  NaN  NaN  3.12  1.57  2.68
46650       Wawrinka S.  ...  NaN NaN  1.33  3.40  NaN  NaN  1.41  3.80  1.31
46651         Zverev A.  ...  NaN NaN  3.30  1.33  NaN  NaN  3.58  1.36  3.36

       AvgL
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
...     ...
46622  2.51
46623  1.46
46624  1.56
46625  1.63
46626  2.59
46627  2.41
46628  1.33
46629  1.47
46630  4.36
46631  1.40
46632  1.57
46633  2.59
46634  1.92
46635  3.93
46636  2.81
46637  3.87
46638  4.73
46639  2.63
46640  2.86
46641  3.04
46642  2.98
46643  3.32
46644  1.15
46645  5.02
46646  3.11
46647  2.30
46648  4.34
46649  1.46
46650  3.40
46651  1.31

[46652 rows x 54 columns]

In [10]:
nuevo = nuevo.replace(np.nan, "0")

### Impresion sin NaN

In [11]:
nuevo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
ATP           46652 non-null int64
Location      46652 non-null object
Tournament    46652 non-null object
Date          46652 non-null object
Series        46652 non-null object
Court         46652 non-null object
Surface       46652 non-null object
Round         46652 non-null object
Best of       46652 non-null int64
Winner        46652 non-null object
Loser         46652 non-null object
WRank         46652 non-null object
LRank         46652 non-null object
W1            46652 non-null object
L1            46652 non-null object
W2            46652 non-null object
L2            46652 non-null object
W3            46652 non-null object
L3            46652 non-null object
W4            46652 non-null object
L4            46652 non-null object
W5            46652 non-null object
L5            46652 non-null object
Wsets         46652 non-null object
Lsets         46652 non-null object
Comment       46652 non-null object
CBW           46652 non-null object
CBL           46652 non-null object
GBW           46652 non-null object
GBL           46652 non-null object
IWW           46652 non-null object
IWL           46652 non-null object
SBW           46652 non-null object
SBL           46652 non-null object
B365W         46652 non-null object
B365L         46652 non-null object
B&WW          46652 non-null object
B&WL          46652 non-null object
EXW           46652 non-null object
EXL           46652 non-null object
PSW           46652 non-null object
PSL           46652 non-null object
WPts          46652 non-null object
LPts          46652 non-null object
UBW           46652 non-null object
UBL           46652 non-null object
LBW           46652 non-null object
LBL           46652 non-null object
SJW           46652 non-null object
SJL           46652 non-null object
MaxW          46652 non-null object
MaxL          46652 non-null object
AvgW          46652 non-null object
AvgL          46652 non-null object
dtypes: int64(2), object(52)
memory usage: 10.0+ MB

### Estadisticas sin NaN

In [12]:
nuevo.describe()

                ATP       Best of
count  46652.000000  46652.000000
mean      32.931000      3.373746
std       17.953268      0.780315
min        1.000000     -1.000000
25%       19.000000      3.000000
50%       33.000000      3.000000
75%       49.000000      3.000000
max       69.000000      5.000000

### Estadisticas solo numeros

In [13]:
print(nuevo.describe(include=[np.number]))

                ATP       Best of
count  46652.000000  46652.000000
mean      32.931000      3.373746
std       17.953268      0.780315
min        1.000000     -1.000000
25%       19.000000      3.000000
50%       33.000000      3.000000
75%       49.000000      3.000000
max       69.000000      5.000000

In [14]:
nuevo = nuevo.replace("N/A", "0")
nuevo = nuevo.replace("NR", "0")

### Estadisticas sin N/A y NR

In [15]:
print(nuevo.describe())

                ATP       Best of
count  46652.000000  46652.000000
mean      32.931000      3.373746
std       17.953268      0.780315
min        1.000000     -1.000000
25%       19.000000      3.000000
50%       33.000000      3.000000
75%       49.000000      3.000000
max       69.000000      5.000000

In [16]:
print(list(nuevo))

['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface', 'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets', 'Comment', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 'SBW', 'SBL', 'B365W', 'B365L', 'B&WW', 'B&WL', 'EXW', 'EXL', 'PSW', 'PSL', 'WPts', 'LPts', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL', 'MaxW', 'MaxL', 'AvgW', 'AvgL']

In [17]:
nuevo['Wsets'] = nuevo.Wsets.astype(int)
nuevo['Wrank'] = nuevo.WRank.astype(int)

### Estadisticas de ranking y sets

In [18]:
print(nuevo.describe())

                ATP       Best of         Wsets         Wrank
count  46652.000000  46652.000000  46652.000000  46652.000000
mean      32.931000      3.373746      2.133092     59.035926
std       17.953268      0.780315      0.481388     73.296447
min        1.000000     -1.000000      0.000000      0.000000
25%       19.000000      3.000000      2.000000     17.000000
50%       33.000000      3.000000      2.000000     41.000000
75%       49.000000      3.000000      2.000000     77.000000
max       69.000000      5.000000      3.000000   1890.000000

### Eliminar todas als filas con NaN en el dataframe principal sin modificaciones

In [19]:
datos.dropna(how="any", inplace=True)

In [20]:
print(datos.head())

Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, CBW, CBL, GBW, GBL, IWW, IWL, SBW, SBL, B365W, B365L, B&WW, B&WL, EXW, EXL, PSW, PSL, WPts, LPts, UBW, UBL, LBW, LBL, SJW, SJL, MaxW, MaxL, AvgW, AvgL]
Index: []

[0 rows x 54 columns]

#### Empty DataFrame se da porque eliminamos todas las filas que tenian un NaN por lo tanto esto quiere decir que en todas las filas por lo menos habia un NaN por lo que el DatFrame quedo vacio.