In [1]:
import pandas as pd
import numpy as np
import chardet as chd

In [2]:
with open('libro1.csv', 'rb') as f:
    result = chd.detect(f.read())

In [3]:
datos = pd.read_csv('libro1.csv', sep=";", encoding=result['encoding'], low_memory=False)

In [4]:
df = pd.DataFrame(datos)

In [5]:
df2 = df.dropna()

In [6]:
df2.reset_index(drop=True, inplace=True)

In [7]:
df2.head(3)

        Fecha USD Minorista
0  19/02/2019         40,32
1  20/02/2019         40,71
2  21/02/2019         40,54

In [8]:
alto = len(df2)

In [9]:
df2['USD Minorista'] = df2["USD Minorista"].str.replace(',', ".").astype(float)

In [10]:
### ((V2 - V1) / V1) * 100
for i in range(0, alto):
    if i == 0:
        df2.loc[i, 'Usd Var'] = 0
    else:
        df2.loc[i, 'Usd Var'] = "{0:.4f}".format(((df2.loc[i, 'USD Minorista'] - df2.loc[ (i - 1), 'USD Minorista'] ) / df2.loc[ (i - 1) , 'USD Minorista']) * 100) + " %"

In [11]:
df2

        Fecha  USD Minorista    Usd Var
0  19/02/2019          40.32          0
1  20/02/2019          40.71   0.9673 %
2  21/02/2019          40.54  -0.4176 %
3  22/02/2019          40.21  -0.8140 %
4  25/02/2019          40.01  -0.4974 %
5  26/02/2019          39.95  -0.1500 %
6  27/02/2019          39.83  -0.3004 %
7  28/02/2019          40.14   0.7783 %
8  01/03/2019          40.84   1.7439 %