In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
planetas = pd.read_csv('Datos/planets/planets.xls')

In [3]:
planetas.head(3)

,Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,MeanTemperature,SurfacePressure,Moons,Rings,MagneticField,FirstVisited,FirstMission
0,MERCURY,0.33,4879,4222.6,57.9,88,47.4,167,0.0,0,No,Yes,1974-03-29,Mariner 10
1,VENUS,4.87,"12,104",2802.0,108.2,224.7,35.0,464,92.0,0,No,No,1962-08-27,Mariner 2
2,EARTH,5.97,"12,756",24.0,149.6,365.2,29.8,15,1.0,1,No,Yes,NaN,NaN

In [4]:
planetas = pd.read_csv('Datos/planets/planets.xls', usecols=[0,1,2,3,12])

In [5]:
planetas.head(3)

    Planet  Mass Diameter  DayLength FirstVisited
0  MERCURY  0.33     4879     4222.6   1974-03-29
1    VENUS  4.87   12,104     2802.0   1962-08-27
2    EARTH  5.97   12,756       24.0          NaN

In [6]:
planetas['Mass']

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [7]:
planetas.Mass

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [8]:
planetas.index

RangeIndex(start=0, stop=10, step=1)

In [9]:
planetas.loc[0]

Planet             MERCURY
Mass                  0.33
Diameter              4879
DayLength           4222.6
FirstVisited    1974-03-29
Name: 0, dtype: object

In [10]:
planetasDos = planetas.set_index('Planet')

In [11]:
planetasDos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, MERCURY to PLUTO
Data columns (total 4 columns):
Mass            10 non-null float64
Diameter        10 non-null object
DayLength       10 non-null float64
FirstVisited    9 non-null object
dtypes: float64(2), object(2)
memory usage: 280.0+ bytes

In [12]:
len(planetasDos)

10

In [13]:
planetasDos.loc['MERCURY']

Mass                  0.33
Diameter              4879
DayLength           4222.6
FirstVisited    1974-03-29
Name: MERCURY, dtype: object

In [14]:
planetasDos.loc['MERCURY':'EARTH']

         Mass Diameter  DayLength FirstVisited
Planet
MERCURY  0.33     4879     4222.6   1974-03-29
VENUS    4.87   12,104     2802.0   1962-08-27
EARTH    5.97   12,756       24.0          NaN

In [15]:
planetasDos.columns

Index(['Mass', 'Diameter', 'DayLength', 'FirstVisited'], dtype='object')

In [16]:
planetasDos.loc['MERCURY'].FirstVisited

'1974-03-29'

In [17]:
planetasDos.loc['MERCURY', 'FirstVisited']

'1974-03-29'

In [18]:
type(planetasDos.loc['MERCURY', 'FirstVisited'])

str

In [19]:
pd.to_datetime(planetasDos.FirstVisited)

Planet
MERCURY   1974-03-29
VENUS     1962-08-27
EARTH            NaT
MOON      1959-09-12
MARS      1965-07-15
JUPITER   1973-12-04
SATURN    1979-09-01
URANUS    1986-01-24
NEPTUNE   1989-08-25
PLUTO     2015-07-14
Name: FirstVisited, dtype: datetime64[ns]

In [20]:
planetasDos.FirstVisited = pd.to_datetime(planetasDos.FirstVisited)

In [21]:
planetasDos.FirstVisited.dt.year

Planet
MERCURY    1974.0
VENUS      1962.0
EARTH         NaN
MOON       1959.0
MARS       1965.0
JUPITER    1973.0
SATURN     1979.0
URANUS     1986.0
NEPTUNE    1989.0
PLUTO      2015.0
Name: FirstVisited, dtype: float64