In [1]:
import pandas as pd
import chardet
import numpy as np

In [2]:
 ### with open('atpTour.csv', 'rb') as f:
 ###   result = chardet.detect(f.read())

In [3]:
### result['encoding']

In [4]:
datos = pd.read_csv('archivos/atpTour.csv', encoding = 'Windows-1252', low_memory=False)

In [5]:
df = pd.DataFrame(datos)
limpiarNaN = df.replace(np.nan, '0')
archivoConvertidoInt = limpiarNaN.describe(include = [np.number])
archivoConvertidoInt = limpiarNaN.replace("NR", "0")
archivoConvertidoInt['Wsets'] = archivoConvertidoInt.Wsets.astype(float)
archivoConvertidoInt['WRank'] = archivoConvertidoInt.WRank.astype(float)
archivoConvertidoInt.set_index("Location", inplace = True)
resultado = (archivoConvertidoInt
 .sort_index()
 .loc["Adelaide":"St. Petersburg", 'Series':'Round']
 .groupby(["Location", "Series", "Court", "Surface", "Round"])["Series",]
 .count())
resultado.loc[("Total", "", "", "", "")] = resultado.sum()

In [6]:
resultado = (archivoConvertidoInt
 .sort_index()
 .loc["Adelaide":"St. Petersburg", 'Series':'Round']
 .groupby(["Location", "Series", "Court", "Surface", "Round"])["Series",]
 .count())
resultado.loc[("Total", "", "", "", "")] = resultado.sum()

In [7]:
resultado.rename(columns={'Series':'Total'}, inplace=True)

In [8]:
resultado.reset_index().to_csv('archivos/DatosCompletosManipulados.csv', header = True, index = False)

In [9]:
 with open('archivos/DatosCompletosManipulados.csv', 'rb') as f:
    results = chardet.detect(f.read())

In [10]:
results['encoding']

'ascii'

In [11]:
datosManipulados = pd.read_csv('archivos/DatosCompletosManipulados.csv' , encoding = results['encoding'], low_memory=False)

In [12]:
dfDatosManipulados = pd.DataFrame(datosManipulados)

In [13]:
dfDatosManipulados.head()

   Location         Series    Court Surface          Round  Total
0  Adelaide  International  Outdoor    Hard      1st Round    128
1  Adelaide  International  Outdoor    Hard      2nd Round     64
2  Adelaide  International  Outdoor    Hard  Quarterfinals     36
3  Adelaide  International  Outdoor    Hard    Round Robin     24
4  Adelaide  International  Outdoor    Hard     Semifinals     18

In [14]:
#### Nuevo ARCHIVO
dic = {"Pais 1": "Capital 1", "Pais 2" : "Capital 2", "Pais 3" : "Capital 3"}

In [15]:
archivo = 'prueba.csv'

In [16]:
csv = open(archivo, 'w')
titulo = 'Pais, Capital\n'
csv.write(titulo)
for key in dic.keys():
    pais = key
    capital = dic[key]
    filas = pais + ',' + capital + '\n'
    csv.write(filas)

In [18]:
### OTRO ARCHIVO
datosHoras = pd.read_csv('archivos/horas.csv', sep=";")

In [19]:
datosHoras.head()

         Date      Time        B        C
0  08/29/2017  00:05:00  2428.25  2428.00
1  08/29/2017  00:10:00  2428.50  2428.25
2  08/29/2017  00:15:00  2429.00  2428.50
3  08/29/2017  00:20:00  2429.50  2428.75
4  08/29/2017  00:25:00  2429.25  2428.75

In [20]:
dfHoras = pd.DataFrame(datosHoras)

In [21]:
dfHoras

          Date      Time        B        C
0   08/29/2017  00:05:00  2428.25  2428.00
1   08/29/2017  00:10:00  2428.50  2428.25
2   08/29/2017  00:15:00  2429.00  2428.50
3   08/29/2017  00:20:00  2429.50  2428.75
4   08/29/2017  00:25:00  2429.25  2428.75
5   08/29/2017  00:30:00  2429.25  2428.75
6   08/29/2017  00:35:00  2429.00  2428.75
7   08/29/2017  00:40:00  2429.00  2428.50
8   08/29/2017  00:45:00  2428.75  2428.25
9   08/29/2017  00:50:00  2429.25  2428.50
10  08/29/2017  00:55:00  2429.75  2429.00
11  08/29/2017  01:00:00  2429.50  2428.75
12  08/29/2017  01:05:00  2430.25  2429.25
13  08/29/2017  01:10:00  2430.25  2429.75

In [22]:
dfHoras['PB'] = dfHoras['B'].diff(1)

alto = dfHoras.loc[0, 'B']
for i in range(1, len(dfHoras)):
    if dfHoras.loc[i, 'B'] > dfHoras.loc[i-1, 'B'] and dfHoras.loc[i, 'B'] > alto:
        dfHoras.loc[i, 'dB'] = dfHoras.loc[i, 'B'] - alto
        alto = dfHoras.loc[i, 'B']
    else:
        dfHoras.loc[i, 'dB'] = 0

In [23]:
dfHoras

          Date      Time        B        C    PB    dB
0   08/29/2017  00:05:00  2428.25  2428.00   NaN   NaN
1   08/29/2017  00:10:00  2428.50  2428.25  0.25  0.25
2   08/29/2017  00:15:00  2429.00  2428.50  0.50  0.50
3   08/29/2017  00:20:00  2429.50  2428.75  0.50  0.50
4   08/29/2017  00:25:00  2429.25  2428.75 -0.25  0.00
5   08/29/2017  00:30:00  2429.25  2428.75  0.00  0.00
6   08/29/2017  00:35:00  2429.00  2428.75 -0.25  0.00
7   08/29/2017  00:40:00  2429.00  2428.50  0.00  0.00
8   08/29/2017  00:45:00  2428.75  2428.25 -0.25  0.00
9   08/29/2017  00:50:00  2429.25  2428.50  0.50  0.00
10  08/29/2017  00:55:00  2429.75  2429.00  0.50  0.25
11  08/29/2017  01:00:00  2429.50  2428.75 -0.25  0.00
12  08/29/2017  01:05:00  2430.25  2429.25  0.75  0.50
13  08/29/2017  01:10:00  2430.25  2429.75  0.00  0.00

In [24]:
total = dfHoras['dB'].sum()

In [25]:
print('El total es : ' , total)
print('La suma parcial (PB) es: ', dfHoras.loc[dfHoras['PB']>0, 'PB'].sum())

El total es :  2.0
La suma parcial (PB) es:  3.0

In [26]:
dfHoras.reset_index().to_csv('archivos/Final.csv', header= True, index = False)